
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo img {
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.user-options {
  position: relative;
}

.user-icon {
  height: 40px;
  cursor: pointer;
}

.dropdown {
  display: block; /* Cambiado de 'none' a 'block' para mostrarlo solo cuando se abre */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 10px 20px;
}

.dropdown ul li button,
.dropdown ul li a {
  color: black;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown ul li button:hover,
.dropdown ul li a:hover {
  background-color: #f0f0f0;
}
